<div>
    <h2 id="page-heading">
        <span>Retiradas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-retirada" [routerLink]="['/retirada/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Retirada
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="retiradas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Data Hora Agendada</span></th>
            <th><span>Data Hora Realizada</span></th>
            <th><span>Data Hora Confirmacao</span></th>
            <th><span>Solicitacao Retirada</span></th>
            <th><span>Coletor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let retirada of retiradas ;trackBy: trackId">
                <td><a [routerLink]="['/retirada', retirada.id, 'view' ]">{{retirada.id}}</a></td>
                <td>{{retirada.dataHoraAgendada | date:'medium'}}</td>
                <td>{{retirada.dataHoraRealizada | date:'medium'}}</td>
                <td>{{retirada.dataHoraConfirmacao | date:'medium'}}</td>
                <td>
                    <div *ngIf="retirada.solicitacaoRetirada">
                        <a [routerLink]="['../solicitacao-retirada', retirada.solicitacaoRetirada?.id, 'view' ]" >{{retirada.solicitacaoRetirada?.descricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="retirada.coletor">
                        <a [routerLink]="['../coletor', retirada.coletor?.id, 'view' ]" >{{retirada.coletor?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/retirada', retirada.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/retirada', retirada.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'retirada', { outlets: { popup: retirada.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
