<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="email">
            <h2><span>Email</span> {{email.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{email.email}}</span>
                </dd>
                <dt><span>Participante</span></dt>
                <dd>
                    <div *ngIf="email.participante">
                        <a [routerLink]="['/participante', email.participante?.id, 'view']">{{email.participante?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/email', email.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
