<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-participante-heading">Create or edit a Participante</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!participante.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="participante.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="participante.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_urlFotoPerfil">Url Foto Perfil</label>
                    <input type="text" class="form-control" name="urlFotoPerfil" id="field_urlFotoPerfil"
                        [(ngModel)]="participante.urlFotoPerfil" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cpfCnpj">Cpf Cnpj</label>
                    <input type="text" class="form-control" name="cpfCnpj" id="field_cpfCnpj"
                        [(ngModel)]="participante.cpfCnpj" required/>
                    <div [hidden]="!(editForm.controls.cpfCnpj?.dirty && editForm.controls.cpfCnpj?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cpfCnpj?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataCadastro">Data Cadastro</label>
                    <div class="d-flex">
                        <input id="field_dataCadastro" type="datetime-local" class="form-control" name="dataCadastro" [(ngModel)]="dataCadastro" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ranking">Ranking</label>
                    <input type="number" class="form-control" name="ranking" id="field_ranking"
                        [(ngModel)]="participante.ranking" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <select class="form-control" name="estado" [(ngModel)]="participante.estado" id="field_estado"  required>
                        <option value="ATIVO">ATIVO</option>
                        <option value="INATIVO">INATIVO</option>
                        <option value="SUSPENSO">SUSPENSO</option>
                    </select>
                    <div [hidden]="!(editForm.controls.estado?.dirty && editForm.controls.estado?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.estado?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
