<div>
    <h2 id="page-heading">
        <span>Coletors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-coletor" [routerLink]="['/coletor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Coletor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="coletors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nome</span></th>
            <th><span>Data Cadastro</span></th>
            <th><span>Tipo</span></th>
            <th><span>Participante</span></th>
            <th><span>Tipo Residuo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coletor of coletors ;trackBy: trackId">
                <td><a [routerLink]="['/coletor', coletor.id, 'view' ]">{{coletor.id}}</a></td>
                <td>{{coletor.nome}}</td>
                <td>{{coletor.dataCadastro | date:'medium'}}</td>
                <td>{{coletor.tipo}}</td>
                <td>
                    <div *ngIf="coletor.participante">
                        <a [routerLink]="['../participante', coletor.participante?.id, 'view' ]" >{{coletor.participante?.nome}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let tipoResiduo of coletor.tipoResiduos; let last = last">
                            <a class="form-control-static" [routerLink]="['../tipo-residuo', tipoResiduo?.id, 'view' ]">{{tipoResiduo.nome}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/coletor', coletor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/coletor', coletor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'coletor', { outlets: { popup: coletor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
