<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-estado-heading">Create or edit a Estado</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!estado.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="estado.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="estado.nome" required/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sigla">Sigla</label>
                    <input type="text" class="form-control" name="sigla" id="field_sigla"
                        [(ngModel)]="estado.sigla" required/>
                    <div [hidden]="!(editForm.controls.sigla?.dirty && editForm.controls.sigla?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sigla?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_latitude">Latitude</label>
                    <input type="text" class="form-control" name="latitude" id="field_latitude"
                        [(ngModel)]="estado.latitude" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_longitude">Longitude</label>
                    <input type="text" class="form-control" name="longitude" id="field_longitude"
                        [(ngModel)]="estado.longitude" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
