<div>
    <h2 id="page-heading">
        <span>Tipo Residuos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-residuo" [routerLink]="['/tipo-residuo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Tipo Residuo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tipoResiduos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nome</span></th>
            <th><span>Descricao</span></th>
            <th><span>Cor</span></th>
            <th><span>Icone</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoResiduo of tipoResiduos ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-residuo', tipoResiduo.id, 'view' ]">{{tipoResiduo.id}}</a></td>
                <td>{{tipoResiduo.nome}}</td>
                <td>{{tipoResiduo.descricao}}</td>
                <td>{{tipoResiduo.cor}}</td>
                <td>{{tipoResiduo.icone}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tipo-residuo', tipoResiduo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-residuo', tipoResiduo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tipo-residuo', { outlets: { popup: tipoResiduo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
